h1 {
    font-family: 'Caveat Brush', sans-serif;
}

.centered {
    display: flex;
    justify-content: center;
    width: 87%;
    height: 100%;
}

.break {
    flex-basis: 100%;
    height: 0;
}

router-outlet {
    justify-content: center;
}