<h1>Request License</h1>
<div class="container">
    <mat-form-field appearance="outline">
        <mat-label></mat-label>
        <input matInput> Name
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
        <mat-label>email</mat-label>
        <input matInput>Email
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
        <mat-label>Select</mat-label>
        <select>
            <option value="Business">Business</option>
            <option value="Personal">Personal</option>
        </select> <br>Usage
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
        <mat-label>Usage description:</mat-label>
        <textarea matInput>describe your request</textarea> Description
    </mat-form-field>


    <div class="break"></div>
    <br>
    <button mat-button-raised>Submit Request</button>
    <div class="break"></div>
    <p> </p>
</div>