<h1>Request License</h1>
<div class="container">

    <input matInput #name> Name
    <br>


    <input matInput #email>Email
    <br>


    <select #usage>
            <option value="true">Business</option>
            <option value="false">Personal</option>
        </select> <br>Usage
    <br>


    <textarea matInput #description>describe your request</textarea> Description



    <div class="break"></div>
    <br>
    <button mat-button-raised (click)="submit(name.value,email.value,usage.value,description.value)">Submit Request</button>
    <div class="break"></div>
    <p> </p>
</div>