.component {
    width: 100%;
    margin-left: 0px;
    padding-left: 100px;
    justify-content: center;
}

h1 {
    justify-content: center;
    margin-left: 25%;
}

.container {
    background-color: white;
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    margin-left: 15%;
}

textarea {
    width: 100%;
}

input,
select {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 5px;
}