<h1>Request License</h1>
<div class="container">
    <mat-form-field appearance="outline">
        <mat-label></mat-label>
        <input matInput> Name
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
        <mat-label>email</mat-label>
        <input matInput>email
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
        <mat-label>Select</mat-label>
        <mat-select>
            <mat-option value="Business">Business</mat-option>
            <mat-option value="Personal">Personal</mat-option>
        </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
        <mat-label>Usage description:</mat-label>
        <textarea matInput>describe your request</textarea>
    </mat-form-field>
    <br>
    <button mat-button-raised>Submit Request</button>
</div>