.dashboard {
    margin-left: 100px;
    margin-right: 100px;
    height: 100%;
    width: 100%;
    justify-content: center;
}

a {
    margin: 5% 5% 5% 5%;
}

h1 {
    width: 90%;
    justify-content: center;
    display: flex;
    margin-left: 1%;
}

.navigation {
    justify-content: center;
    margin-left: 10%;
}

.dashbutton {
    background-color: rgba(180, 77, 228, 0.479);
}