<div class="dashboard">
    <h1>Home</h1>
    <span></span>
    <div class="break">
        <nav class="navigation">
            <a routerLink="/images">
                <button class="dashbutton" mat-raised-button>See All Images</button>
            </a>
            <a routerLink="/search">
                <button class="dashbutton" mat-raised-button>Search Images</button>
            </a>
            <a routerLink="/contact">
                <button class="dashbutton" mat-raised-button>Contact Me</button>
            </a>

            <a routerLink="/commission">
                <button class="dashbutton" mat-raised-button>Request a Commission</button>
            </a>
        </nav>
    </div>
</div>