@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.example-container .mat-form-field+.mat-form-field {
    margin-left: 8px;
    margin-bottom: 20px;
}

.component {
    padding: 5px;
    padding-bottom: 10px;
}

.rate {
    word-wrap: normal;
}

h1 {
    display: flex;
    justify-content: center;
    margin-left: 25%;
}

.container {
    background-color: white;
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    margin-left: 15%;
    justify-content: center;
}

p {
    font-size: 10px;
    padding: 0px;
    margin: 0px;
}

textarea {
    font-size: 10px;
    display: flex;
}

button {
    margin-bottom: 10px;
}

input,
select {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 5px;
}