<mat-card class="card">
    <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title>{{image.name}}</mat-card-title>
        <mat-card-subtitle>{{image.category}}</mat-card-subtitle>
    </mat-card-header>
    <div style="text-align: center;"><img mat-card-image id="artPiece" src="{{image.path}}" alt="{{image.name}}"></div>
    <mat-card-content>
        <p>
            {{image.description}}
        </p>
    </mat-card-content>
    <mat-card-actions>

        <a routerLink="/images/{{image.id}}">
            <button mat-button>SHARE</button></a>
        <a routerLink="/license/{{image.id}}">
            <button mat-button>Request License</button>
        </a>
    </mat-card-actions>
</mat-card>