.card {
    justify-content: center;
    width: 95%;
    margin-bottom: 5%;
    margin-left: 3%;
}

.header-image {
    background-image: url('https://www.vhv.rs/dpng/d/292-2927118_hoodie-anime-cute-girl-hd-png-download.png');
    background-size: cover;
    align-items: center;
}

.liked {
    background-color: pink;
}