<div class="dashboard">
    <h1>Administration</h1>
    <span></span>
    <div class="break">
        <nav class="navigation">

            <a routerLink="/admin/all-lrq">
                <button class="dashbutton" mat-raised-button>View All License Requests</button>
            </a>
            <a routerLink="/admin/pending-lrq">
                <button class="dashbutton" mat-raised-button>View Pending License Requests</button>
            </a>
            <a routerLink="/admin/all-comm">
                <button class="dashbutton" mat-raised-button>View all Commission Requests</button>
            </a>
            <a routerLink="/admin/pending-comm">
                <button class="dashbutton" mat-raised-button>View Pending Commission Requests</button>
            </a>
        </nav>
    </div>
</div>